<% include ../partials/header.ejs %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quis.
            </p>
            <a href="/campgrounds/new" role="button" class="btn btn-primary">Add New Campground</a>
        </div>
    </header>
    <div class="row text-center">
        <% campgrounds.forEach(function(cg){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src= "<%= cg.image %>" style="height: 200px;"> 
                    <div class="caption">
                        <%= cg.title %><br>
                        <a href="/campgrounds/<%= cg._id %>" class="btn btn-primary" style="margin-top: 5px;">More Info</a>
                    </div>
                </div> 
            </div>
        <% }); %>
    </div>
    
</div>






<% include ../partials/footer.ejs %>